body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    align-content: flex-start;
}

#container div{
    width: 200px;
    height: 200px;
    text-align: center;
}

div:nth-of-type(3){
    align-self: flex-end;
}

div:nth-of-type(2){
    align-self: flex-start;
}